#grid {
	display: grid;
    grid-template-columns: 70% 30%;
	text-align: center;
	font-size: 20px;
	border: 1px solid #000;
	border-radius: 3px;
	/*background-color: #FADBC8;*/
}

#p1 {
	width: 21px;
}

#three {
	margin: 20px;
	width: 500px;
}

#data {
	/*display: none;*/
	width: 700px;
}

#model_speker{
	display: none;
}

#head {
	/*display: none;*/
	background-color: #f3a784;
}

#data_string {
	/*display: none;*/
	background-color: #fad8c8;
}

/*#empty {
	display: none;
	background-color: #ceb3a4ef;
}*/

legend {
	font-size: 25px;
	padding: 5px;
	background-color: #fff;
	padding: 6px 6px;
	margin: .5rem
}

fieldset {
	display: table;
	width: 500px;
	background-color: #f0ebeb;
	padding: 5px
}

/*input {
	margin: .4rem
	text-align: center;
}*/

label {
	display: table-cell;
	width: 166px;
}

select {
	display: table-cell;
}

input[type=text] {
	display: table-cell;
	height: 20px;
	background-color: #fff;
	font-size: 15px;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
}

div {
	display: table-row;
}

#btn {
	width: 300px;
	padding: 1px;
	background-color: #e9967a;
	border-radius: 3px;
	border: 1px solid #000
}

#btn2 {
	display: none;
	width: 100px;
	padding: 1px;
	background-color: #e9967a;
	border-radius: 3px;
	border: 1px solid #000
}

#btn3 {
	display: none;
	width: 150px;
	padding: 1px;
	background-color: #e9967a;
	border-radius: 3px;
	border: 1px solid #000
}
